[phases.setup]
nixPkgs = ["nodejs_23"]

[phases.install]
cmds = ["npm ci --omit=dev --legacy-peer-deps || npm install --omit=dev --legacy-peer-deps"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"
